.newQuestion {
	position: relative;
	top: 0px;
	left: 108px;
	text-align: left;
	color: white;
}

.newQuestion > section {
	display: none;
	position: absolute;
	bottom:  -47px;
	left: 79px;
	background-color: #1C9C9C;
}

.newQuestion button {
	border: none;
	background-color: #2A7FFF;
	width: 200px;
	height: 50px;
	font-size: 20px;
}

.newQuestion > section >
textarea {
	resize : none;
	width: 640px;
	height: 300px;
}

.newQuestion > section >
input {
	width: 640px;
}

.newQuestion > section > 
label, input, textarea, button {
	display: block;
	margin: 10px;
}

.newQuestionForm > button {
	display: inline-block;
}
