#newQuestion {
    bottom: 154px;
    left: 300px;
    position: absolute;
    text-align: left;
    width: 634px;
}
#newQuestionForm {
	display: none;
	background-color: #DDE139;
	padding: 5px;
	border-radius: 3px;
}

#newQuestionForm > input, textarea {
	display: block;
	width: 99%;
	margin: 5px;
	border: none;
	border-radius: 3px;
	resize: none;
}

#newQuestionText {
	height: 200px;
}

#newQuestionForm > h5 {
	font-size: 22px;
	font-style: italic;
	color: #FFF; 
}

