.image-container{
    text-align: center;
    margin-top: 40px;
    float: left;
    width: 25%;
    display: inline-block;
}

.image-container img:hover{
    -webkit-animation: anim2 ease-in-out 3s infinite alternate;
}

.image-container img{
    border-radius: 100%;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    margin-bottom: 20px;
    width: 18rem;
    height: 18rem;

}

.userInfo{
    margin-top: 40px;
    float: left;
    height: 100%;
    width: 74%;
    padding-left: 50px;
    display: inline-block;
}

.userInfo .general-info, .contact-info{
    padding: 10px;
    width: 48.5%;
    display: inline-block;
}

.userInfo .contact-info{
    margin-left: 1%;
}

.userInfo .general-info h3{
    color: #F0AD4E;
}

.userInfo .contact-info h3{
    color: #F0AD4E;
}

@-webkit-keyframes anim2
{
    from {left: 0px;   -webkit-transform: scale(1.0) rotate(0deg)   }
    50%  {left: 250px; -webkit-transform: scale(0.8) rotate(10deg)  }
    to   {left: 500px; -webkit-transform: scale(1.2) rotate(-20deg) }
}