html, body {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f9f9f9;
    background: url(../resources/lollipop.jpg) repeat-x;
    background-size: contain;
    font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}

body #wrapper{
    background-color: #ffffff;
    z-index: 1;
    width: 85%;
    height: 800px;
    margin: 0 auto;
    margin-top: -30px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.04);
}
body #wrapper>header{
    background: url("../resources/bgnTemplate2.png") repeat-x;
    width: 100%;
    height: 150px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.07);
}

body #wrapper>header #userSpace{
    position: relative;
    height: 100%;
    top: 20%;
    width: 23%;
    float: right;
}

body #wrapper>header #userSpace>div{
    padding: 10px;
}

body #wrapper>header #userSpace img{
    margin-left: 10%;
    width: 50px;
    height: 50px;
    border: 4px #ffffff solid;
    background: #ffffff;
    border-radius: 50%;
    display: inline-block;
}

body #wrapper>header #userSpace h3{
    font-size: 1.7rem;
    color: #ffffff;
    padding: 1px;
    margin-left: 5%;
    display: inline-block;
    padding-left: 5%;
}

body #wrapper>header #userSpace button{
    margin: 0;
    margin-right: 4%;
    width: 45%;
    display: inline-block;
}

body #wrapper header>h3{
    font-weight: normal;
    color: #ffffff;
    line-height: 55px;
    font-size: 1.8em;
    padding: 0 30px;
    position: relative;
    top: 90px;

}

.menu {
    float: left;
    z-index: 32;
    width: 18%;
    margin-right: 0.2%;
    height: 100%;
    background-color: #fff;
}
.menu button{
    font-size: 1rem;
    margin: 2px auto;
    width: 98%;
    padding: 3px;
}

body #wrapper>main{
    float: left;
    width: 60%;
    height: 85%;
    overflow: auto;
    background-color: #ffffff;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.13);
    left: 20%;
    top: 70px;
}

body #wrapper>main>header>h2{
    font-weight: normal;
    color: #5264AE;
    padding: 20px 16px;
}

body #wrapper>main #content{
    height: auto;
    padding: 30px;
}

body #wrapper>main #content section{
    display: inline-block;
    width: 93%;
    padding: 10px 16px;
    margin: 0 auto;
    margin-bottom: 25px;
    height: auto;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.15);
    color: #F1F1F1;
    background-color: white;
    position: relative;
    -webkit-transition: box-shadow 400ms; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 400ms;
}

body #wrapper>main #content section:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.5);

}

body #wrapper>main #content section header{
    width: 100%;
}

body #wrapper>main #content section header h2{
    display: inline-block;
    position: relative;
    width: 90%;
    font-weight: normal;
}

body #wrapper>main #content section header h3{
    display: inline-block;
    position: absolute;
}

body #wrapper main #content section header h3 div.actionButtonContainter{
    position: relative;
    bottom: 90px;
    left: 25px;
    z-index: 1;
}

.rightAside {
    float: left;
}

body footer{
    position: relative;
    width: 85%;
    margin: 0 auto;
    background: url("../resources/bgnTemplate2.png") repeat-x;
    height: 150px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.07);
}


#welcome{
    margin: 0 auto;
    position: relative;
    width: 50%;
    background-color: #ffffff;
    color: #5264AE;
    text-align: center;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.5);
}

#welcome>header>h2{
    padding: 30px;
    text-shadow: 1px 1px 10px #5264AE;
}