#tagsForm {
    float: left;
    position: absolute;
    top: 3%;
    padding: 20px;
    width: 30%;
}

#tagsForm #form-tags{
    display: inline-block;
}

#tagsForm>input{
    background-color: #ffffff;
}

#tagsForm>button{
    background-image: url('../resources/Search.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 7px 8px;
    display: inline-block;
}
ul{
    list-style: none;
    position: absolute !important;
}
ul :last-child{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
li{
    padding: 12px;
    background: #5ABFDE;
}
li:hover{
    cursor: pointer;
    background: #03A9F4;
}
.ui-helper-hidden-accessible{
    display: none !important;
}