#tagsForm {
    float: left;
    padding: 20px;
    margin: 15px;
    margin-top: 2%;
}
#tagsForm > p,button {
	color: #FFF;
}
#searchByTag {
	height: 30px;
	border: none;
	border-radius: 3px;
	background-color: #54D4D4;
}
#searchByTag:hover {
	background-color: #68E7E7;
}
#ui-id-1 {
	list-style: none;
	border: 1px solid #000;
	width: 50px;
	border-radius: 2px;
	text-align: left;
}

.ui-state-focus {
	background-color: #CDCDCD;
}
