<link type="text/css" rel="stylesheet" href="css/newAnswer.css">
<div id="newAnswerDiv">
	<textarea id="answerText"></textarea>
	<input type="hidden" data-questionId="" id="questionId"/>
	<button id="addAnswer" class="btn btn-block btn-raised btn-info ripple-effect categoryItem">Add</button>
	<button id="cancellAnswerAdd" class="btn btn-block btn-raised btn-info ripple-effect categoryItem">Cancel</button>
</div>

<!-- <link type="text/css" rel="stylesheet" href="css/newAnswer.css">
<div id="newQuestion">
	<div id="newAnswerForm">
		<p>Text</p>
		<textarea name="text" id="answerText"></textarea>
		<button id="addAnswer" class="btn btn-block btn-raised btn-info ripple-effect categoryItem" type="button">Submit</button>
		<button id="cancelNewQuestion" class="btn btn-block btn-raised btn-info ripple-effect categoryItem" type="button">Cancel</button>
		<input type="hidden" data-questionId="" id="questionId"/>
	</div>
	<button id="addNewAnswer" class="btn btn-block btn-raised btn-info ripple-effect categoryItem" type="button">Add New Answer</button>
</div> -->
