<link type="text/css" rel="stylesheet" href="css/newAnswer.css">
<div id="answers">
	<section class="questionSection">
	    <header>
	        <h2>
	        </h2>
	    </header>
	    <body>
	    	<p class="text"></p>
	    </body> 	
	        <p class="date"></p> 
	</section>
    <div class="answer" data-placeholder="true">
        <p class="text"></p>
        <p class="date"></p>
    </div>
</div>
<div class="textarea">
</div>
<button class="openAnswerBox btn btn-block btn-raised btn-info ripple-effect categoryItem" data-id="">Answer</button>


