<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,900' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="styles.css"/>
    <link type="text/css" rel="stylesheet" href="actionButtonCSS.css"/>
    <link type="text/css" rel="stylesheet" href="accordion.css"/>
    <link rel="import" href="http://www.polymer-project.org/components/paper-ripple/paper-ripple.html">
    <link rel="import" href="http://www.polymer-project.org/components/core-icons/core-icons.html">
    <link rel="import" href="http://www.polymer-project.org/components/font-roboto/roboto.html">

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="jquery-min.js"></script>
    <script src="sectionColors.js"></script>
    <script src="actionButton.js"></script>
    <title>Example Template</title>
</head>
<body>
    <div id="wrapper">
        <header>
            <h3>Categories</h3>
        </header>

        <aside class="menu">
            <div class="item">
                <div class="label" fit>Lorem Ipsum</div>
                <paper-ripple fit></paper-ripple>
            </div>
            <div class="item">
                <div class="label" fit>Lorem Ipsum</div>
                <paper-ripple fit></paper-ripple>
            </div>
            <div class="item">
                <div class="label" fit>Lorem Ipsum</div>
                <paper-ripple fit></paper-ripple>
            </div>
            <div class="item">
                <div class="label" fit>Lorem Ipsum</div>
                <paper-ripple fit></paper-ripple>
            </div>
            <div class="item">
                <div class="label" fit>Lorem Ipsum</div>
                <paper-ripple fit></paper-ripple>
            </div>
            <div class="item">
                <div class="label" fit>Lorem Ipsum</div>
                <paper-ripple fit></paper-ripple>
            </div>
            <div class="item">
                <div class="label" fit>Lorem Ipsum</div>
                <paper-ripple fit></paper-ripple>
            </div>
            <div class="item">
                <div class="label" fit>Lorem Ipsum</div>
                <paper-ripple fit></paper-ripple>
            </div>
        </aside>

        <main>
            <header>
                <h2>Category name</h2>
            </header>
            <section id="content" class="accordion vertical">
                <section class="changeColor">
                    <h2 fit>Lorem Ipsum Lorem Ipsum Lorem Ipsum ?</h2>
                    <paper-ripple fit></paper-ripple>
                    <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                    <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                    <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                    <div class="actionButtonContainter">
                        <div class="icon">
                            <i></i>
                            <span class="tap"></span>
                        </div>
                    </div>
                </section>
                <section class="changeColor">
                    <h2 fit>Lorem Ipsum Lorem Ipsum Lorem Ipsum ?</h2>
                    <paper-ripple fit></paper-ripple>
                    <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                    <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                    <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                    <div class="actionButtonContainter">
                        <div class="icon">
                            <i></i>
                            <span class="tap"></span>
                        </div>
                    </div>
                </section>
                <section class="changeColor">
                    <h2 fit>Lorem Ipsum Lorem Ipsum Lorem Ipsum ?</h2>
                    <paper-ripple fit></paper-ripple>
                    <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                    <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                    <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                    <div class="actionButtonContainter">
                        <div class="icon">
                            <i></i>
                            <span class="tap"></span>
                        </div>
                    </div>
                </section>
                <section class="changeColor">
                    <h2 fit>Lorem Ipsum Lorem Ipsum Lorem Ipsum ?</h2>
                    <paper-ripple fit></paper-ripple>
                    <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                    <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                    <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                    <div class="actionButtonContainter">
                        <div class="icon">
                            <i></i>
                            <span class="tap"></span>
                        </div>
                    </div>
                </section>
                <section class="changeColor">
                    <h2 fit>Lorem Ipsum Lorem Ipsum Lorem Ipsum ?</h2>
                    <paper-ripple fit></paper-ripple>
                    <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                    <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                    <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                    <div class="actionButtonContainter">
                        <div class="icon">
                            <i></i>
                            <span class="tap"></span>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
</body>
</html>