
<div id="userSpace" class="signin-card-animation">
    <div>
        <img src="resources/People.png" id="smallAvatar">
        <h3 id="greeting"></h3>
        <script>
            $('#greeting').text("Hello, " + cookie.get("username") + "!");
            setAvatar();
        </script>
    </div>
    <button id="viewProfile" class="btn btn-block btn-default btn-info ripple-effect">View profile</button>
    <button class="btn btn-block btn-raised btn-danger ripple-effect" id="signOut">SIGN OUT</button>

</div>
<link type="text/css" rel="stylesheet" href="css/tags.css">
<div id="tagsForm" class="signin-card-animation">
    <div id="form-tags" class="form-group">
        <input id="tags" class="form-control" name="tags" type="text" size="25" alt="login" style="border-bottom: 1px solid rgb(236, 241, 82)"/>
        <span class="form-highlight"></span>
        <span class="form-bar"></span>
        <label for="tags" class="float-label" style="color: #5BC0DE">Search</label>
    </div>
    <button type="button" class="btn btn-circle ripple-effect btn-raised btn-info" id="searchByTag"></button>
    <script src="app/client/Tags.js"></script>
</div>