  <link type="text/css" rel="stylesheet" href="css/newQuestion.css">
<section class="newQuestion">
	<section class="newQuestionForm">
		<label for="newQuestionTitle">Title</label>
		<input type="text" name="newQuestionTitle" class="newQuestionTitle">
		<label for="newQuestionText">Text</label>
		<textarea name="newQuestionText" class="newQuestionText" cols="30" rows="10"></textarea>
		<button class="submitNewQuestion" type="button">Submit Question</button>
		<button class="cancelNewQuestion" type="button">Cancel</button>
	</section>
	<button class="addNewQuestion" type="button">Add New Question</button>
</section>