			<header>
                <h2>Category name</h2>
            </header>
            <section id="content" class="accordion">
                <section class="changeColor">
                    <header>
                        <h2 fit>
                        </h2>
                        <h3>
                            <div class="actionButtonContainter">
                                <div class="icon">
                                    <i></i>
                                    <span class="tap"></span>
                                </div>
                            </div>
                        </h3>
                        <paper-ripple fit></paper-ripple>
                    </header>
                    <p></p>
                </section>
            </section>