<script src="app/scripts/flipListener.js"></script>
<script src="app/scripts/rippleEffect.js"></script>

<div id="register" class="signin-card" id="backCard">
    <div class="logo-image">
        <img src="resources/People.png" alt="Logo" title="Logo" width="138">
    </div>
    <h1 class="display1">Welcome</h1>
    <p class="subhead"></p>
    <form action="" method="post" role="form">
        <div id="form-register-username" class="form-group">
            <input id="username-sign-up" class="form-control" name="username" type="text" size="15" alt="login" required />
            <span class="form-highlight"></span>
            <span class="form-bar"></span>
            <label for="username-sign-up" class="float-label">username</label>
        </div>
        <div id="form-register-password" class="form-group">
            <input id="passwd-sign-up" class="form-control" name="passwd" type="password" size="15" alt="password" required>
            <span class="form-highlight"></span>
            <span class="form-bar"></span>
            <label for="passwd-sign-up" class="float-label">password</label>
        </div>
        <div id="form-register-email" class="form-group">
            <input id="email" class="form-control" name="email" type="email" size="15" alt="email" required>
            <span class="form-highlight"></span>
            <span class="form-bar"></span>
            <label for="email" class="float-label">email</label>
        </div>
        <div>
            <button class="btn btn-block btn-default btn-success ripple-effect" type="button" name="Submit" alt="sign in" onclick="signUp()">Sign up</button>
            <button class="btn btn-block btn-flat btn-danger ripple-effect" type="button" name="Submit" alt="sign in" id="flipBack">Back</button>
        </div>
    </form>
</div>